name: Elixir CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  tests:
    runs-on: ubuntu-20.04
    name: OTP ${{matrix.otp}} / Elixir ${{matrix.elixir}} / Ecto ${{matrix.ecto}}
    strategy:
      matrix:
        otp: ["22", "23", "24", "25", "26"]
        elixir: ["1.11", "1.12", "1.13", "1.14", "1.15"]
        ecto: ["3.10"]
        exclude:
          - otp: "24"
            elixir: "1.11"
          - otp: "25"
            elixir: "1.11"
          - otp: "26"
            elixir: "1.11"
          - otp: "25"
            elixir: "1.12"
          - otp: "26"
            elixir: "1.12"
          - otp: "25"
            elixir: "1.13"
          - otp: "26"
            elixir: "1.13"
          - otp: "22"
            elixir: "1.14"
          - otp: "26"
            elixir: "1.14"
          - otp: "22"
            elixir: "1.15"
          - otp: "23"
            elixir: "1.15"

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      MIX_EXS: ci/mix-ecto-${{ matrix.ecto }}.exs

    steps:
      - uses: actions/checkout@v3
      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        id: beam
        with:
          otp-version: ${{ matrix.otp }}
          elixir-version: ${{ matrix.elixir }}
      - name: Restore dependencies cache
        uses: actions/cache@v3
        with:
          path: deps
          key: ${{ runner.os }}-mix-${{ steps.beam.outputs.otp-version }}-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-
      - name: Install dependencies
        run: mix deps.get
      - name: Run tests
        run: mix coveralls

  matrix-results:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    name: Tests
    needs:
      - tests
    steps:
      - run: |
          result="${{ needs.tests.result }}"
          if [[ $result == "success" ]]; then
            exit 0
          else
            exit 1
          fi

  code-quality:
    runs-on: ubuntu-20.04
    name: Code quality
    steps:
      - uses: actions/checkout@v3
      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        id: beam
        with:
          otp-version: 25.1
          elixir-version: 1.14.1
      - name: Restore dependencies cache
        uses: actions/cache@v3
        with:
          path: |
            _build
            deps
          key: ${{ runner.os }}-otp-${{ steps.beam.outputs.otp-version }}-elixir-${{ steps.beam.outputs.elixir-version }}-mix-${{ hashFiles('mix.lock') }}
          restore-keys: ${{ runner.os }}-otp-${{ steps.beam.outputs.otp-version }}-elixir-${{ steps.beam.outputs.elixir-version }}-
      - name: Restore PLT cache
        uses: actions/cache@v3
        id: plt_cache
        with:
          key: |
            ${{ runner.os }}-${{ steps.beam.outputs.otp-version }}-${{ steps.beam.outputs.elixir-version }}-plt-${{ hashFiles('mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-${{ steps.beam.outputs.otp-version }}-${{ steps.beam.outputs.elixir-version }}-plt-
          path: |
            .plts
      - name: Install dependencies
        run: mix deps.get
      - name: Compile
        run: mix compile --warnings-as-errors
      - name: Run formatter
        run: mix format --check-formatted
      - name: Run linter
        run: mix credo
      - name: Run Dialyzer
        run: mix dialyzer
